.board-img {
    height: 300px;
    background-image: url('https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/2Vw/image/OpSZD0iqF4aWQHuu_jTX94yunew');
    background-size: cover;
    position: relative;
}