.search {
    font-size: 1.2em;
    box-sizing: border-box;
    width: calc(100% - 100px);
    height: 50px;
    padding: 10px;
    margin: 0 50px;
    margin-top: 30px;
    border: 3px solid #eee;
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.search:focus {
    border: 3px solid #E71469;
    outline: none;
}

.empty-holder {
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    font-size: 2em;
    padding: 50px;
    text-align: center;
}

.empty-holder > * {
    padding: 20px;
}

.empty-holder a {
    color: #E71469;
}