.game-img {
    background-image: url('https://t1.daumcdn.net/cfile/tistory/994EFE405A47A55D0A');
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
}

.game-title {
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 20px 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    font-weight: bold;

    position: relative;
    top: -70px;
}


.game-title ~ h2 {
    padding: 0 50px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.game-summary,.game-meta {
    background-color: #fff;
    margin: 0px 50px;
    width: auto;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
.game-meta ul {
    overflow: hidden;
}

.game-meta li {
    width: 50%;
    overflow: hidden;
    padding: 10px 0;
    float: left;
}

.game-meta li div {
    padding: 5px 0;
}

.game-meta li div:first-child {
    width: 100px;
    font-weight: bold;
}

.game-video {
    width: auto;
    margin: 0 50px;
}

.game-video iframe {
    width: 100%;
}


.comment-post {
    width: auto;
    height: 40px;
    margin: 0 50px;
    line-height: 40px;
    border: 3px solid #E71469;
}

.comment-post > * {
    height: 100%;
    float: left;
}

.comment-post > input {
    box-sizing: border-box;
    border: none;
    width: calc(100% - 80px);
    padding: 10px;
}

.comment-post > div {
    text-align: center;
    background-color: #E71469;
    color: white;
    width: 80px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.comment-list {
    width: auto;
    margin: 20px 50px;
    border: 1px solid #ccc;
}

.comment {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    display: block;
    width: 100%;
    overflow: hidden;
}

.comment:last-child {
    border: none;
}

.comment > div {
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 10px 0;
    padding: 0 20px;
}


.comment .comment-writer {
    width: 100px;
}
