.input-form {
    padding: 50px;
    width: fit-content;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.input-form ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.input-form li {
    float: left;
    padding: 10px;
    background-color: #1E262C;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
}

.input-form li > * {
    float: left;
    padding: 0 10px;
}

.input-form li > input {
    background-color: #E71469;
}


.input-form input:not([type='checkbox']), .input-form textarea {
    border: none;
    background-color: #eee;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.input-form textarea {    
    resize: none;
    height: 300px;
}

.input-form input:not([type='checkbox']):focus,.input-form textarea:focus {
    outline: none;
    border: 3px solid #E71469;
}

.input-form .btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #E71469;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}
