nav {
    height: 100%;
    width:  128px;
    background-color: #021D4C;
}

nav > * {
    width: 100%;
}

nav .icon {
    width: 64px;
    height: 64px;
    margin: 16px;
    margin-bottom: 32px;
}

nav > a {
    color: white;
    line-height: 64px;
}
/*
nav #home {
    background-image: url('../resource/logo.png');
}

nav #talks {
    background-image: url('../resource/talks.png')
}

nav #games {
    background-image: url('../resource//games.png');
}
*/