nav {
    height: 100%;
    width:  200px;
    background-color: #021B4D;
}

nav > * {
    width: 100%;
}

nav #home {
    color: white;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
}