.user {
    height: 100%;
    overflow: hidden;
}

.user-bg-img {
    background-image: url('https://data1.origin.com/content/dam/originx/web/app/programs/Store/mluaug/FIFA19_NeymarTrapUpdated_store_hero_en_ww_v1.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.user-meta {
    overflow: hidden;
    height: 100px;
    position: relative;
    top: -50px;
    z-index: 2;
}

.user-meta > div {
    float: left;
}

.user-img {
    background-color: #ccc;
    height: 100px;
    width: 100px;
    position: relative;
    top: 0px;
    left: 50px;
}

.user-name {
    position: relative;
    top: 50px;
    left: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}

.my-post {
    margin: 0 40px;
    overflow: hidden;
}

.my-articles, .my-comments {
    margin: 10px 10px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
    height: 200px;
    width: calc(100% / 2 - 20px);
    background-color: #fff;
    float: left;
    border-top: 5px solid #E71469;
}