.board {
    margin: 20px 40px;
    position: relative;
    top: -100px;
}

.board-header {
    border-top: 10px solid #E71469;
    height: 100px;
    width: auto;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 10px;
}

.board-category {
    height: 30px;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 15px;
}

.board-sort {
    height: 40px;
    overflow: hidden;
    width: fit-content;
    float: left;
    line-height: 40px;
}

.board-sort > div {
    float: left;
    padding: 0 14px;
}

.board-search {
    float: right;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
}

.board-search > * {
    height: 100%;
    float: left;
    box-sizing: border-box;
    border: none;
}

.board-search input {
    padding: 5px;
    border-left: 1px solid rgba(0,0,0,0.1);
    width: 300px;
}

.board-search div {
    width: 50px;
    text-align: center;
}


.article {
    height: 60px;
    padding: 8px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    overflow: hidden;
}

.article:hover {
    background-color: #eee;
}

.article .title {
    font-size: 1em;
}

.article > div {
    height: 30px;
    text-align: center;
    overflow: hidden;
}

.article > div > div {
    float: left;
    margin: 5px 0;
    height: 20px;
    padding-left: 10px;
    line-height: 20px;
}

.article .comment-cnt {
    /*color: #A0DBCB;*/
    color:#E71469;
}

.article > div:last-child > div {
    padding: 0 10px;
    color: #999;
    border-right: 1px solid #ccc;
}
.article > div:last-child > div:last-child {
    border: none;
}

.board-footer {
    height: 40px;
    background-color: #F8F9FA;
    padding: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.board-footer > div {
    margin: 0 auto;
    width: fit-content;
}

.prev, .next {
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border: 1px solid #ddd;
    color: #999;
    font-weight: bold;
    width: 60px;
    text-align: center;
}

.board-footer ul {
    float: left;
    margin: 0 10px;
}

.board-footer ul li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    color: #999;
    font-weight: bolder;
}