.card-list {
    padding: 30px;
    overflow: hidden;
    margin: 0 auto;
    width: 880px;
}


.card {
    width: 400px;
    height: 180px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    float: left;
    margin: 20px;
    transition: ease-in-out 0.2s;
    position: relative;
}

.card:hover {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
}


.card:hover .rating {
    left: calc(50% - 100px);
    transition: ease-in-out 0.3s;
    transition-delay: 0.1s;

}

.card .rating {
    position: absolute;
    left: -200px;
    top: calc(50% - 15px);
    width: 200px;
    text-align: center;
}


.card-image {
    background-image: url('https://data1.origin.com/content/dam/originx/web/app/programs/Store/mlusep/ANTHEM_screenshotPart2_store_half_en_ww_v4.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-meta {
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    line-height: 30px;
    padding: 20px;
    color: white;
    bottom: 0px;
    transition: ease-in-out 0.3s;
    position: absolute;
}

.card:hover .card-meta {
    height: 100%;
    margin: 0;
}

.card-meta .rate {
    position: absolute;
    right: 20px;
    top: -15px;
    height: 20px;
    line-height: 20px;
    width: 30px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    background-color: #E71469;
}

.card .title {
    height: 100%;
}

.card:hover .title {
    display: none;
}

.card:hover .rate {
    display: none;
}

.card-btns > div{
    float: left;
    text-align: center;
    width: calc(100% / 3 - 1px);
    padding: 10px 0;
    border-right: 1px solid #eee;
}

.card-btns > div:last-child {
    border: none;
}