#comment-form {
    width: 100%;
    background-color: #2F3135;
    color: white;
    border-radius: 4px;
    overflow: hidden;
    float: none;
}

#comment-input {
    overflow: hidden;
    height: 48px;
    line-height: 48px;
}

#comment-input > input {
    float: left;
    width: calc(100% - 128px);
    border-radius: 0;
    border: none;
    background-color: rgba(0,0,0,0.1);
    margin: 0;
    color: inherit;
    height: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,0.2);
}

#comment-input > div {
    float: left;
    width: 96px;
    height: 16px;
    line-height: 16px;
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#comment-list > div {
    border-bottom: 1px solid #4F545C; 
}

#comment-list > div:last-child {
    border-bottom: none;
}


#comment-list > div > div {
    overflow: hidden;
    padding: 10px;
}

#comment-list > div > div > div {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #4F545C;
}

#comment-list > div > div > div:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.comment-value {
    height: 20px;
    line-height: 20px;
}