.footer {
    padding: 40px;
    color: #666;
    background-color: #fff;
}

.footer > div {
    overflow: hidden;
    padding: 8px 0;
}

.footer > div > div {
    padding: 0 10px;
    float: left;
    border-right: 1px solid #ccc;
}

.footer > div > div:last-child {
    border: none;
}


.footer > div:first-child {
    padding: 20px 0;
    color: black;
    font-weight: bold;
}


.footer > div:first-child > div {
    float: left;
}

.footer > div:first-child > div:first-child {
    border-right: 1px solid #eee;
}


