.full-slider {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
}

.full-slider ul {
    height: calc(100% - 30px);
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: ease-in-out 0.5s;
}

.slide {
    background-size: cover;
    background-position: center;
    height: 400px;
    float: left;
}

.slide-meta {
    box-sizing: border-box;
    padding: 30px;
    height: 150px;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 30px;
}

.slide-meta > div:first-child {
    font-size: 3em;
}

.slide-meta > div:last-child {
    font-size: 1.5em;
}

.full-slider-prev,.full-slider-next {
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.full-slider:hover .full-slider-prev {
    opacity: 1;
}
.full-slider:hover .full-slider-next {
    opacity: 1;
}

.full-slider-prev {
    background-image: url('../resources/left.png');
    left: 20px;
}

.full-slider-next {
    background-image: url('../resources/right.png');
    right: 20px;
}