.indicator {
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    height: 30px;
    padding: 14px 0;
}

.indicator > div {
    border: 1px solid #666;
    height: 8px;
    width: 8px;
    float: left;
    border-radius: 12px;
    margin: 2px 3px;
    box-sizing: border-box;
}

.indicator > div.current {
    height: 12px;
    width: 12px;
    margin: 0px 3px;
    border: none;
    background-color: #E71469;
}