.login-box {
    position: fixed;
    top: 100px;
    left: calc(50% - 300px);
    width: 600px;
    height: 500px;
    background-color: #1E262C;
    z-index: 10;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);

    background-image: url('../resources/login.png');
    background-position: center;
    background-size: cover;
}

.login-box .exit-btn {
    background-color: rgb(252,98,53);
    height: 12px;
    width: 12px;
    margin: 13px;
    border-radius: 6px;
    text-align: center;
    position: relative;
}

.login-menu {
    width: fit-content;
    margin: 10px auto;
    overflow: hidden;
}

.login-menu > div {
    color: #666;
    float: left;
    padding: 10px;
    margin: 0 20px;
}

.login-menu > div.select {
    color: white;
    border-bottom: 2px solid #E71469;
    margin-bottom: 30px;
}

.login-box input {
    border: none;
    background-color: rgba(255,255,255,0.2);
    width: calc(100% - 180px);
    height: 30px;
    margin: 0px 60px;
    margin-bottom: 20px;
    padding: 5px 30px;
    color: white;
    font-size: 0.8em;

    border-radius: 30px;

}

.login-box .btns {
    position: absolute;
    width: calc(100% - 100px);
    margin: 0 50px;
    overflow: hidden;
    bottom: 50px;
}

.login-box .btns > div {
    width: calc(50% - 20px);
    font-size: 0.7em;
    float: left;
    margin: 10px 10px;
    height: 30px;
    background-color: #E71469;
    text-align: center;
    color: white;
    line-height: 30px;
    font-weight: bold;
    border-radius: 30px;
}

.login-box .facebook {
    background-color: #3b5998 !important;
}