#login-btn {
    width: 60px;
	height: 40px;
	margin: 10px;
	box-sizing: border-box;
    cursor: pointer;
    float: right;
}

#login-btn .status {
    background-color: #aaa;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

#login-btn .dropdown {
    width: fit-content;
    padding: 10px 0;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    top: 20px;
    right: 140px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

#login-btn .dropdown > div:first-child {
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 1em;
    line-height: 1em;
}

#login-btn .dropdown > div:first-child > div:last-child {
    font-size: 0.8em;
    color: #999;
}

#login-btn .dropdown ul {
    padding-top: 10px;
}

#login-btn .dropdown li {
    height: 30px;
    width: 180px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 0.9em;
}