.nav {
    background-color: #1E262C;
    height: 100%;
    width: 240px;
    float: left;
    box-shadow: 5px 0px 10px 0 rgba(0,0,0,0.4);
    position: fixed;
    transition-delay: 1000ms;
    transition: ease-in 200ms;
    z-index: 10;
}

.nav.toggle {
    left: 0px !important;
}

.nav .logo {
    display: inline-block;
    background-image: url('../resources/logo.png');
    width: 100px;
    height: 100px;
    margin: 30px 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-search {
    width: calc(100% - 20px);
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    margin: 10px;
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.sign-box {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
}

.sign-box > div {
    width: 100%;
    margin: 0;
    color: white;
    height: 20px;
    padding: 13px 0;
    text-align: center;
    font-size: 0.9em;       
}

.sign-in {
    background-color: #E71469;
}

.sign-up {
}

ul {
    list-style: none;
    padding: 0;
}

.menu a {
    display: inline-block;
    width: 155px;
    padding: 0;
    color: #ccc;
    padding: 10px 40px;
    text-decoration: none;
    border-left: 5px solid #1E262C;
    transition: ease-in 200ms;
    border-bottom: 1px solid rgba(200,200,200,0.1);
}

.menu a:hover {
    color: white;
    background-color: #3A434C;
    border-left: 5px solid #E71469;
}

.top-nav {
    display: none;
}


.menu-trigger,.menu-trigger span {
	display : inline-block;
	transition : all .4s;
	box-sizing : border-box;
}
.menu-trigger {
    position : relative;
    float: left;
	width : 25px;
    height : 20px;
    left: 20px;
    top: 20px;
}
.menu-trigger span {
	position : absolute;
	left : 0;
	width : 100%;
	height : 2px;
	background-color : #fff;
}
.menu-trigger span:nth-of-type(1) {
	top : 0;
}
.menu-trigger span:nth-of-type(2) {
	top : 9px;
}
.menu-trigger span:nth-of-type(3) {
	bottom : 0;
}
.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform : translate(0px, 8.5px) rotate(45deg);
	transform : translate(0px, 8.5px) rotate(45deg);
}
.menu-trigger.active span:nth-last-child(2) {
    display: none;
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform : translate(0px, -8.5px) rotate(135deg);
	transform : translate(0px, -8.5px) rotate(135deg);
}

@media (max-width : 1024px) {
    .nav {
        left: -280px;
        top: 60px;
        height: calc(100% - 60px);
        
    }
    .nav .logo {
        display: none;
    }
    .top-nav {
        display: initial;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 3;
        float: left;
        width: 100%;
        height: 60px;
        background-color: #1E262C;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
        transition: ease-in 200ms;
    }

    .top-nav .logo {
        height: 40px;
        width: 250px;
        margin: 10px auto;
        /*
        background-image: url('../resources/h-logo.png');
        background-repeat: no-repeat;
        background-position: center;
        */
        color: #fff;
        text-align: center;
        font-weight: bolder;
        line-height: 40px;
        font-size: 1.5em;
    }
}