nav section {
    height: min-content;
    border-bottom: 1px solid rgba(180,188,199,.32);
    overflow: hidden;
    transition: padding .2s linear .1s;
    padding-bottom: 10px;
}
nav section:last-child {
    border-bottom: none;
}

nav section h5 {
    color: #677694;
    margin: 25px 20px 15px 20px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
}

h::after {
    content: "\e602";
    font-size: 10px;
    margin-left: 10px;
    float: right;
}

nav section ul {
    transition: all .4s linear;
    overflow: hidden;
}

nav section li {
    color: white;
}

nav section a {
    padding: 10px 20px;

}

nav section a:hover {
    background-color: #0A1B3D;
}