.option-table {
    width: auto;
    margin: 0px 50px;
    margin-top: 50px;
    background-color: inherit;
    color: black;
}

.option-name-list {
    overflow: hidden;
    border-bottom: none;
}

.option-name-list > div {
    
    float: left;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.option-name-list > div.click {
    background-color: #1E262C;
    color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.select-option-item {
    width: auto;
    padding: 30px 0;
    overflow: hidden;
    background-color: #1E262C;
    color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.select-option-item > div {
    float: left;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
    width: 100px;
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px solid #E71469;
    transition: ease-out 0.2s;
}
.select-option-item > div:hover {
    background-color: #E71469;
}

.tag-list {
    overflow: hidden;
    padding: 20px 0;
}

.tag {
    overflow: hidden;
    float: left;
    color: white;
    margin: 5px 0px;
    margin-right: 10px;
    background-color: #1E262C;
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.tag > div {
    float: left;
    padding: 10px;
    height: 10px;
    line-height: 10px;
    background-color: #1E262C;
    font-size: 0.7em;
}

.tag > div:first-child {
    background-color: #E71469;
}

.tag > div:last-child {
    background-image: url('../resources/x.png');
    background-size: cover;
    width: 14px;
    height: 14px;
    margin: 8px;
    padding: 0;
}