.simple-card-list {
    margin: 20px auto;
    overflow: hidden;
}

.simple-card {
    width: 120px;
    float: left;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.simple-card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.simple-card-img {
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.simple-card-title {
    padding: 10px;
    font-size: 0.8em;
}