.slider {
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.slider-title {
    float: left;
    font-size: 2em;
    padding: 10px;
}

.slider-btn {
    overflow: hidden;
    float: right;
    overflow: hidden;
    position: absolute;
    width: 80px;
    height: 30px;
    right: 20px;
    top: 40px;
}

.slider-btn > div{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 5px;
    background-size: cover;
}

.slider-prev {
    background-image: url('../resources/left.png');
}

.slider-next {
    background-image: url('../resources/right.png');
}

.slider ul {
    height: 360px;
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    transition: ease-in-out 0.5s;
}

.small-card {
    background-color: #fff;
    width: 150px;
    height: 340px;
    margin: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    float: left;
    transition: ease-in-out 0.5s;
}

.small-card:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}

.small-card-img {
    width: 100%;
    height: 210px;
    background-position: center;
    background-size: cover;
}

.small-card-meta {
    width: 100%;
    height: 130px;
}