.star-rating {
    height: 32px;
    width: 180px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.star-rating > div {
    width: 180px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

.star-rating > div:nth-child(2) > div {
    width: 18px;
    height: 32px;
    float: left;
}

.star-rating > div:first-child > svg {
    float: left;
    color: orange;
    width: 36px;
    font-size: 2em;
    text-align: center;
}