@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'NanumSquareRound', sans-serif;
}

#root {
    height: 100%;
    background-color: white;
    position: relative;
    width: 100%;
}

.content {
    position: relative;
    left: 240px;
    overflow-y: auto;
    float: left;
    width: calc(100% - 240px);
    max-width: 2320px;
    margin: 0 auto;
    background-color: #EDF1F2;
}

@media (max-width : 1024px) {
    .content {
        left: 0px;
        width: 100%;
        top: 60px;
    }
}

.blur {
    filter: blur(10px);
}

a {
    text-decoration: none;
    color: initial;
}